%header#header
  %h1.site
    = link_to admin_root_url do
      %span.icon
        %i.fa.fa-home
  .content
    .contributor{'data-dropdown' => :quick_profile}
      = current_contributor.email
      = image_tag current_contributor.avatar_url, class: :avatar
= content_for :end do
  %ul#quick_profile.f-dropdown
    %li
      = link_to admin_contributor_url(current_contributor) do
        %i.fa.fa-user
        Profile
    %li.divider
    - if current_contributor.sites.count > 1
      - current_contributor.sites.each do |site|
        %li
          = link_to site.url do
            %i.fa.fa-globe
            = site.name
      %li.divider
    %li
      = link_to destroy_contributor_session_url, 'data-method' => 'delete' do
        %i.fa.fa-sign-out
        Disconnect