#side
  %ul.actions.no-bullet
    %li
      = link_to admin_routes_url do
        %i.fa.fa-sitemap.fa-fw
        .span{style: 'display:none'} Sitemap
    %li
      = link_to admin_resources_url do
        %i.fa.fa-folder-open.fa-fw
        .span{style: 'display:none'} Resources
    %li
      = link_to admin_assets_url do
        %i.fa.fa-picture-o.fa-fw
        .span{style: 'display:none'} Assets
    %li
      = link_to admin_contributors_url do
        %i.fa.fa-group.fa-fw
        .span{style: 'display:none'} Contributors
    %li
      = link_to admin_settings_url do
        %i.fa.fa-cogs.fa-fw
        .span{style: 'display:none'} Settings