!!!
%html
  %head
    %title= @page_title || "Exo-#{exo_site.slug_id.capitalize}"
    %link{rel: 'shortcut icon', href: asset_path('admin/favicon.ico')}
    %meta{'http-equiv' => 'content-language', :content => 'fr'}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=ISO-8859-1'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}
    /[if IE]
      %script{src: 'http://html5shim.googlecode.com/svn/box/html5.js'}
      %link{rel: :icon, href: 'exo/admin/icon.png', type: 'image/x-icon'}
    = stylesheet_link_tag    'exo/admin/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'exo/admin/application', 'data-turbolinks-track' => true
    = yield :head
    = csrf_meta_tags
  %body
    = javascript_include_tag 'exo/delayed_foundation', 'data-turbolinks-track' => :true
    = render partial: 'header'
    #wrapper
      %aside#sidenav= render partial: 'sidenav'
      %article#content= yield
    = yield :end