- url = nil
- if for_route?
  - url = admin_route_settings_url(current_route)
  - unless current_setting.new_record?
    - url = admin_route_setting_url(current_route, current_setting)
- else
  - url = admin_settings_url
  - unless current_setting.new_record?
    - url = admin_setting_url(current_setting)
= simple_form_for(current_setting, as: :setting, url: url, html: {class: :full_form}) do |f|
  - if current_setting.new_record?
    = f.input :slug_id
  - else
    = f.input :slug_id, disabled: true
  = f.input :name
  = f.input :value
  = link_to admin_settings_url, class: :button do
    %i.fa.fa-times-circle-o
    Cancel
  = f.button :submit, class: [:right, :success]
  .clear